#navSession .nav-item {
	display: inline-block;
}


.card{
  cursor:pointer;
  transition:all .4s ease-in-out;
}
.card:hover{
  transform:scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.eh5 {
	font-size: 35px;
	color: #000;
	text-transform: uppercase;
}

.eh51 {
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
}
.courses {
	height: 850px;
}

.contact {
	height: 50vh;
}
.maps {
	height: 100%;
	padding: 20px;
}
.contact-details {
	padding: 20px;
}

.form1 {
	margin: 20px;
	padding: 10px;
}
.our-courses {
	padding: 50px;
	font-size: 45px;
}
.priceText{
	font-size: 35px;
	background-color: orange;
	align-items: center;
	color: #fff;
	height: 53px;
}
.soc li {
	list-style-type: none;
}

.soc li a:hover{
	color: #dc3545;
	text-decoration: none;
}
.social{
	padding: 20px;
}
.social1 {
	color: #fff;
	font-size: 28px;
}

.modalButton{
	width: 350px;
	height: 55px;
	color: #fff;
	padding: 15px;
	background: #ac45b5;
	border-radius: 5px;
}

.modalButton:hover {
	text-decoration: none;
	color: yellow;
}

@media screen and (max-width: 360px) {
  #navSession .nav-item {
    display: block;
    }
  .courses {
	height: 1620px;
	}
  .contact {
	height: 160vh;
	}
  .our-courses {
	padding: 20px;
	font-size: 30px;
	}
   .eh51{
   	background-color: orange;
   	width: 100%;
   	height: 25%;
   	font-size: 18px;
   	padding: 5px;
   }
   .eh5{
   	background-color: orange;
   	width: 100%;
   	height: 25%;
   	font-size: 18px;
   	padding: 5px;
   }
}

