@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.container1
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container1 .card {
	position: relative;
	width: 300px;
	height: 550px;
	background: #666;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 15px 25px rgba(0,0,0,0.2);
	transition: 0.5s;
}

.container:hover .card {
	filter: blur(20px);
	transform: scale(0.9);
	opacity: 0.5;
}

.container1 .card:hover {
	filter: blur(0px);
	transform: scale(1.1);
	opacity: 1;
}

.container1 .card .circle {
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(180px at center 0);
	text-align: center;
}

.container1 .card .circle h6 {
	color: #fff;
	font-size: 1.5rem;
	padding: 30px 0;
}

.container1 .card .content {
	bottom: 10px;
	padding: 20px;
	text-align: center;
}

.container1 .card .content p {
	color: #666;
}
.container1 .card .content a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	border-radius: 40px;
	text-decoration: none;
	margin-top: 20px;

}
#button-css {
	color: #fff;
	border-color: #fff;
}
@media screen and (max-width: 360px) {
  .container1 .card {
	width: 300px;
	height: 420px;
	}


}